@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

@layer components{
  .qr-border{
    @apply border-[1px] border-["#e4e4e5"]
  }
  .qr-rounded{
    @apply rounded
  }
  .qr-result-container{
    @apply leading-normal flex flex-col gap-2
  }
  .qr-result{
    @apply flex gap-6 items-center
  }
  .qr-result-h2{
    @apply font-bold text-lg
  }
  .qr-result-span{
    @apply text-[#afb2b2]
  }
}
::-webkit-scrollbar {
  width: 1px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #156faf;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: #dce8ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}